@model Magelan.Web.Models.UserViewModels.CreateUserViewModel


<div class="container">
    
    <form asp-controller="User" asp-action="Create" method="post">
        
        <label>Username : <input asp-for="UserName"/></label>
        <label>Password : <input asp-for="Password"/></label>
        <label>Phone number : <input asp-for="PhoneNumber"/></label>
        <label>Email : <input asp-for="Email"/></label>
        <label>Lockout enable : <input asp-for="LockoutEnabled"/></label>
        
        <input type="submit" value="Submit"/>
    </form>
    
</div>
